<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <form method="post" th:action="@{/account/check}"> 
            <div class="form-group">
                <label >id</label>
                <input id="id" class="form-control col-md-5" type="text" th:field="${employee.id}">
            </div>
            <div class="form-group">
                <label >email karyawan</label>
                <input id="email" class="form-control col-md-5" type="text" th:field="${employee.email}">
            </div>

            <div class="form-group">
                <label >Old Password</label>
                <input id="password" class="form-control col-md-5" type="text" th:field="${user.password}">
            </div>
            <div class="form-group">
                <label >New Password</label>
                <input th:name="newpassword" type="text" >
            </div>
            <div style="padding-top: 20px">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
<script></script>
</html>