<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src='main.js'></script>
    <Style>
        body{
            background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 47%, rgba(18, 1, 255,1) 120%);
            height: 558px;
        }
    </Style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-item-center">
            <div class="col-md-8" style="padding: 30px;" >
                <div class="card">
                    <div class="card-body">
                        <form method="post" th:action="@{/account/check}" th:object="${changePassword}"> 
                            <div class="form-group">
                                <label >email karyawan</label>
                                <input id="email" class="form-control col-md-12" type="text" th:field="*{email}">
                            </div>
                
                            <div class="form-group">
                                <label >Old Password</label>
                                <input id="password" class="form-control col-md-12" type="text" th:field="*{password}">
                            </div>
                
                            <div class="form-group">
                                <label >New Password</label>
                                <input th:name="newpassword"class="form-control col-md-12" type="text" >
                            </div>
                         
                            <div style="padding-top: 20px">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
<script></script>
</html>